@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@100;300;400;500;600&display=swap');

:root{
  --blue:#2980b9;
  --black:#333;
  --white:#fff;
  --light-color:#777;
  --light-bg:rgb(233, 233, 233);
  --box-shadow:0 5px 10px rgba(0,0,0,.1);
}
.container1 {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}


html::-webkit-scrollbar{
  width:10px;
}

html::-webkit-scrollbar-track{
  background: var(--blue);
}

html::-webkit-scrollbar-thumb{
  background: var(--white);
  border-radius: 50px;
}

.title{
  font-size: 25px;
  color:var(--blue);
  margin-bottom: 15px;
}



.container{
  padding:100px 9%;
  background: linear-gradient(45deg, rgb(0, 0, 0), var(--blue));
  display: flex;
}

.container .profile{
  flex:1 1 400px;
  background: var(--white);
  padding:20px 30px;
  text-align: center;
  top:20px; left:0;
  border-right:2px solid var(--black);
  align-self: flex-start;
}

.container .profile img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border:2px solid var(--black);
  object-fit: cover;
  margin-bottom: 10px;
}

.container .profile h3{
  color:var(--black);
  font-size: 20px;
}

.container .profile p{
  color:var(--blue);
  padding:5px 0;
  margin-bottom: 10px;
  font-size: 15px;
}


.container .information{
  flex:1 1 1000px;
  background: var(--white);
  padding:20px 30px;
}

.container .information .about p{
  font-size: 17px;
  line-height: 2;
  padding-bottom: 10px;
  color:var(--light-color);
}

.container .information .about .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .about .box-container .box{
  flex:1 1 250px;
}

.container .information .about .box-container .box h3{
  font-size: 15px;
  padding:10px 0;
  color:var(--black);
}

.container .information .about .box-container .box h3 span{
  color:var(--light-color);
}

.container .information .skills{
  padding:20px 0;
}

.container .information .skills .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .skills .box-container .box{
  flex:1 1 17px;
  text-align: center;
  border-radius: 5px;
  padding:20px;
  background: var(--light-bg);
}

.container .information .skills .box-container .box img{
  height: 50px;
  margin-bottom: 10px;
}

.container .information .skills .box-container .box h3{
  font-size: 15px;
  color:var(--light-color);
}



@media (max-width:1200px) {
  
  .container{
    flex-flow: column;
    padding:20px;
    justify-content: center;
  }

  .container .profile{
    position: static;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding:20px;
    border-right: none;
    margin:0 auto;
    margin-bottom: 15px;
  }

  .container .information{
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding:20px;
  }

}
.header .main-nav {
  display: flex;
  font-weight: bold;
  color: #353535;
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: #353535;
  padding: 0 50px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width:450px){

  .container .profile{
    width: 100%;
  }



  


}